@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Mulish:wght@300&display=swap');

@media screen and (max-width: 575.98px)
{
    div .img-logo{
        float: none;
    }

    banner .banner-img{
        width:auto;
        height:60%;
    }
    
    div > time
    {
        margin: 0 5px;
        padding: 0 10px;
        font-size: 12px;
    }
    section .img-profile{
        width:auto;
        height: 120px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-evenly;
        margin: 0;
    }
    


.form-contact input
    {
        display: block;
        width: 100%;
        min-height: auto;
        height: 25px;
        background-color: initial;
    }

}

*{
    margin: 0;
    font-family: "Mulish", sans-serif;
    color:#708090;
    text-align: justify;
    position: relative;
    text-decoration: none;
}

h1, h3
{
    text-align: center;
    font-weight:bolder;
}

h1{
    font-size: 30px;
}

body
{
    background-image: url(../img/background.webp);
    background-size:cover;
}

banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#2146C7;
    width: 100%;
    height: 10vh;
    position: relative;
}

.banner-img{
    width:auto;
    height: 10vh;
}

.logo-hub
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin: 0 10px 0 auto;
}

.logo-hub2
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 10px 0 auto;
}

.logo-hub img, .logo-hub2 img
{
    border-radius: 25%;
    background-color: #708090;
    width: 15px;
    height: auto;
    padding: 5px;
    margin: 0 5px;
}

.logo-hub img:hover, .logo-hub img:focus, .logo-hub2 img:hover, .logo-hub2 img:focus
{
    background-color: #2146C7;
}

section
{
    height:auto;
    margin: 10px;
}


.content
{
    display: flex;
    flex-direction: column;
    max-width:100vh;
    border: none;
    margin: 0 auto 0 auto;
 }

section div {
    margin-bottom: 20px;
}


div img + p{
    font-weight: bold;
}

.underdevelop{
    height:auto;
    width:50%;
    margin: 0 auto 0 auto;
}

p, label, ol li {
    margin: 0 5px 0 5px;
    padding: 0 10px 0 10px ;
}


ol{
    margin-left: 12%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}


ul li a{
    color: #fffafa;
    padding: 10px;
}

ul li:hover{ 
 text-shadow: 0 0 20px #f8f8ff;
}

.img-profile{
    border-radius: 100%;
    width:auto;
    height: 200px;
    display: block;
    margin: 0 auto 10px auto;
}

.img-logo{
    width:100px;
    height: auto;
    margin: 10px 10px 0 10px;
    float: left;    
}

.skill-content
{
    background-color:#2146C7;
    height: auto;
    width:auto;
    margin: 0;
}

.skill-content h3{
    color: #fffafa;
    padding: 10px;
}

.container-skill
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-skill img{
    height:auto;
    max-width: 50px;
    min-width:30px;
    filter:grayscale(100%) brightness(300%);
    margin: 0 10px 0 10px;
    transition: filter 1s;
    
}

.container-skill img:hover
{
    filter:grayscale(0%) brightness(100%);
    cursor: pointer;
}

.contact, .form-contact
{
    margin: 20px;
    padding: 0 auto 0 auto;
}

.contact p, h1
{
    text-align: center;
    padding-bottom: 20px;
}

input
{
    width: 40%;
    min-height: auto;
    height: 25px;
    background-color: initial;
}


input:focus, textarea:focus{
    box-shadow: 0 0 10px rgb(196, 212, 221);
}

textarea{
    max-height: 100%;
    width: 100%;
    resize: vertical;
}

.button-form
{
    border: none;
    width: 70px;
    height: 35px;
    background-color: #2146C7;
    color: #fffafa;
    font-size: 14px;
    text-align: center;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: background-color 1s;
    margin: 0 0 0 20px ;
}

.button-form:hover
{
    background-color: #0008C1;
}
footer{
    display: flex;
    justify-content: flex-end;;
    align-items: center;
    background-color:#2146C7;
    width: 100%;
    height: 6vh;
    position: absolute;
}



footer p {
    color: #fffafa;
    text-align: right;
    padding: 5px;
    font-size: smaller;
}
